.clients {
  padding: 40px 0 64px;
  text-align: center;
}

.clients h2 {
  margin-bottom: 16px;
}

.clients p {
  margin-bottom: 40px;
}

.services {
  padding-bottom: 94px;
  text-align: center;
}

.subText {
  margin: 16px 0 40px;
}

.cardsContainer {
  overflow: auto;
}

.servicesCard {
  flex-shrink: 0;
  width: 300px;
  box-shadow: 0px 2px 4px #abbed133;
  border-radius: 8px;
}

.threeYears {
    margin-bottom: 48px;
}

.threeYears > div {
  flex-direction: column;
}

.threeYears svg {
  max-width: 100%;
}

.threeYears .text {
  max-width: 660px;
}

.stats {
    padding: 64px 0;
}

.stats>div {
    flex-direction: column;
}

.stats .numbers {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 255px));
    column-gap: 30px;
    row-gap: 40px;
}

.stats .numbers div {
    justify-content: start;
}

@media (min-width: 810px) {
  .threeYears > div {
    flex-direction: row;
  }
  .threeYears svg {
    width: 442px;
    flex-shrink: 0;
  }
  .stats>div {
    flex-direction: row;
  }
}
