.clients {
  padding: 40px 0 64px;
  text-align: center;
}

.clients h2 {
  margin-bottom: 16px;
}

.clients p {
  margin-bottom: 40px;
}

.services {
  padding-bottom: 94px;
  text-align: center;
}

.subText {
  margin: 16px auto 40px;
  max-width: 628px;
}

.cardsContainer {
  overflow: auto;
  gap: 24px;
}

.servicesCard {
  flex-shrink: 0;
  width: 300px;
  box-shadow: 0px 2px 4px #abbed133;
  border-radius: 8px;
}

.assay {
  margin-bottom: 48px;
  padding: 32px 0;
}

.assay > div {
  flex-direction: column;
}

.assay svg {
  max-width: 100%;
}

.assay .text {
  max-width: 660px;
}

.assay .text p {
  margin: 16px 0 32px;
}

.stats {
  padding: 64px 0;
}

.stats > div {
  flex-direction: column;
}

.stats .numbers {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 255px));
  column-gap: 30px;
  row-gap: 40px;
}

.stats .numbers div {
  justify-content: start;
}

.titleCard {
  position: relative;
  width: 318px;
  height: 176px;
  margin: -96px 24px 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.getDemo {
  padding: 32px;
  flex-direction: column;
  gap: 32px;
}

.getDemo h1 {
  text-align: center;
  max-width: 886px;
  color: #263238;
}

.titleCard h4 {
  color: var(--gray);
}
@media (min-width: 810px) {
  .assay > div {
    flex-direction: row;
  }
  .assay svg {
    flex-shrink: 0;
  }
  .stats > div {
    flex-direction: row;
  }
}
