.clients {
    padding: 40px 0 64px;
    text-align: center;
}

.clients h2{
    margin-bottom: 16px;
}

.clients p {
    margin-bottom: 40px;
}

.services {
    padding-bottom: 94px;
    text-align: center;
}

.subText {
    margin: 16px 0 40px;
}

.cardsContainer {
    overflow: auto;
}

.servicesCard {
    flex-shrink: 0;
    width: 300px;
    box-shadow: 0px 2px 4px #ABBED133;
    border-radius: 8px;
}
