.container {
  position: relative;
}

.flexContainer {
  margin: 30px 0;
}

.logo {
  color: #263238;
}

.nav {
  position: relative;
  flex-direction: column;
  gap: 10px;
}

.nav svg {
  transition: 300ms;
}

.hide {
  display: none;
}

.show {
  background-color: #ffffff;
  padding: 5px;
  position: absolute;
  transform: translate(0%, 34px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

a:has(+ .show) svg {
  transform: rotate(-180deg);
}

.btn {
  padding: 10px 20px;
}

.login {
  background-color: #f5f7fa;
  color: var(--brand-primary);
}

@media (min-width: 810px) {
  .nav {
    flex-direction: row;
    gap: 16px;
  }
  .show,
  .hide {
    position: static;
    transform: translate(0, 0);
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media (min-width: 980px) {
  .nav {
    gap: 50px;
  }
  .show,
  .hide {
    gap: 50px;
  }
}
