.hero {
    padding: 96px 0;
}

.flexContainer {
    flex-direction: column-reverse;
}

.flexContainer svg {
    max-width: 100%;
}

.mainText {
    margin-bottom: 16px;
}

.subText {
    margin-bottom: 32px;
}

@media (min-width: 810px) {
    .flexContainer {
        flex-direction: row;
    }
}