@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --brand-primary: #4caf4f;
  --D-gray: #4d4d4d;
  --gray: #717171;
  --gray-900: #18191f;
}

button {
  background-color: var(--brand-primary);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 14px 32px;
}

h1,
h2,
h3 {
  color: var(--D-gray);
}

h1 {
  font-size: 64px;
  line-height: 76px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

p {
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

span {
  color: var(--brand-primary);
}

a {
  text-decoration: none;
  color: var(--gray-900);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer {
  background-color: #263238;
  padding: 64px 0 74px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #D9DBE1;
}
